In [1]:
#to make a list, type
a = [3, 10, -1]

In [2]:
print(a)

[3, 10, -1]

In [3]:
#in order to put the number 1 in the list, we will use append
a.append(1)

In [4]:
print(a)

[3, 10, -1, 1]

In [5]:
#we can have a list containing numbers and strings
a.append("hello")
print(a)

[3, 10, -1, 1, 'hello']

In [6]:
#a list can contain another list
a.append([1,2])
print(a)

[3, 10, -1, 1, 'hello', [1, 2]]

In [7]:
#in order to delete the last item, we can say
a.pop()
print(a)

[3, 10, -1, 1, 'hello']

In [8]:
a.pop()
print(a)

[3, 10, -1, 1]

In [9]:
#if we want to retrieve specific items?
a[0] #it says that "retrieve the item from the list a with the index 0. first item has the index 0. second has 1."

3

In [10]:
#retrieve the fourth item
a[3]

1

In [11]:
#to change the first item from 3 to 100, we can say
a[0] = 100

In [12]:
print(a)

[100, 10, -1, 1]

In [13]:
#we can see that it changed. Suppose we have a list
b = ["banana", "apple", "microsoft"]

In [14]:
#to swap the first item to the third item, we will do
it1 = b[2]

In [15]:
b[2] = b[0]

In [16]:
b[0] = it1

In [18]:
print(b)

['microsoft', 'apple', 'banana']

In [20]:
#a shorter way is to say 
b[0], b[2] = b[2], b[0]
print(b)

['microsoft', 'apple', 'banana']