In [1]:
a = ["banana", "apple", "microsoft"]

In [2]:
#what if we want to iterate through each element of this list? for example, to print each element, it will be cumbersome to do
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [3]:
#we can use a for loop
for element in a:
    print(element)
#it says that "for each element in a, do the following: which is to print each element"

banana
apple
microsoft

In [4]:
#we can have multiple statements
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [5]:
b = [20, 10, 5]
#to print each element, we can use for loops. also, the word "element" is arbitrary
for e in b:
    print(e)

20
10
5

In [6]:
#what if we want to add each element in b? then define a new variable
total = 0
for e in b:
    total = total + e
print(total)    
#what it does is that first, it will take the initial value of total which is 0. then the new value of total will be 0 + 20. 
#then it will take this value of total, and will be added to the next element so 20 + 10 
#then 30 + 5

35

In [7]:
#if we want to find the sum of 1, 2, 3 and 4, we can create a new list [1, 2, 3, 4] or we can use the range function
# range(1,5) means "create a range of numbers starting from 1 through 5 but not including 5." to put it into a list
c = list(range(1,5))
print(c)

[1, 2, 3, 4]

In [8]:
#we can use this list in for loops. finding the sum, we get
total_2 = 0
for i in c:
    total_2 = total_2 + i
print(total_2)

10

In [9]:
#the shortcut is to write
total_3 = 0
for i in c:
    total_3 += i #means "the new value of total_3 should be the sum of the old value of total_3 plus i"
print(total_3)

10

In [10]:
#what if we use range(1,8)
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [11]:
#what if we want to find the sum of only the multiples of 3? we have to introduce the modulo operator
print(4 % 3) #the modulo operator gives us the remainder

1

In [12]:
total_4 = 0
for i in list(range(1,8)):
    if i % 3 == 0:
        total_4 += i
    else:
        total_4 += 0
print(total_4)    

#HOLY FUCK I REALLY DID THIS CODE WITHOUT ANY HELP??????

9

In [13]:
#Alternatively, we can ignore the else statemnt
total_5 = 0
for i in list(range(1,8)):
    if i % 3 == 0:
        total_5 += i
print(total_5)

9

In [15]:
#to compute all multiples of 3 and 5 that are less than 100
total_6 = 0
for i in list(range(1,100)):
    if i % 3 == 0:
        total_6 += i
    elif i % 5 == 0:
        total_6 += i
    elif i % 15 == 0:
        total_6 = total_6 - i
print(total_6)

2318

In [17]:
#note that if a number that is both multiples of 3 and 5 (which are multiples of 15) are only added once
#so the second elif is not necessary
total_6 = 0
for i in list(range(1,100)):
    if i % 3 == 0:
        total_6 += i
    elif i % 5 == 0:
        total_6 += i
print(total_6)

2318